@charset "UTF-8";
/*conectar fuente de forma local*/
@font-face {
  font-family: jost-medium;
  src: url("../multimedia/fonts/Jost-Medium.ttf");
}
@font-face {
  font-family: jost-regular;
  src: url("../multimedia/fonts/Jost-Regular.ttf");
}
@font-face {
  font-family: jost-light-italic;
  src: url("../multimedia/fonts/Jost-LightItalic.ttf");
}
@font-face {
  font-family: jost-light;
  src: url("../multimedia/fonts/Jost-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/*viñeta de listas*/
ul {
  list-style-type: none;
}

header {
  background-color: #FAF0E4;
  text-align: center;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF8551;
}
header .offcanvas-header {
  background-color: #FAF0E4;
}
header .offcanvas-body {
  background-color: #FAF0E4;
}
header .barraNav1 {
  text-decoration: none;
  color: #FF8551;
  font-family: jost-regular;
  font-size: 40px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
header h6 {
  color: #FF8551;
  font-family: jost-regular;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  padding-left: 125px;
}
header .barraNav {
  text-decoration: none;
  color: #FF8551;
  color: #FF8551;
  font-family: jost-regular;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
}
header .barraNav:hover {
  color: #9f370b;
}

.footer {
  background-color: #FFDEDE;
  padding: 10px;
}
.footer #menuredes {
  display: flex;
  justify-content: space-evenly;
}
.footer li {
  display: inline-block;
  align-items: center;
  margin: 15px;
}
.footer #ig-fb-tw {
  height: 30px;
  width: 30px;
  transition: 0.4s;
}
.footer #ig-fb-tw:hover {
  height: 50px;
  width: 50px;
}

.body {
  background-color: #FAF0E4;
}

.titulo {
  color: #FF8551;
  font-family: jost-regular;
  font-size: 40px;
  padding: 20px;
  margin: 20px;
}

.subtitulo {
  color: #FF8551;
  font-family: jost-regular;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
}

.cuerpo {
  color: #402f0b;
  font-family: jost-regular;
  text-align: justify;
  padding: 20px;
  margin: 20px;
}

.banner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#portada {
  font-size: 24px;
  padding: 10px;
}

.index {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.index .presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  height: 100%;
  padding: 20px;
}
.index #foto-presentacion {
  width: 250px;
  height: 100%;
  border-radius: 5%;
}
.index .card-link {
  color: #FF8551;
}
.index #eventos {
  padding: 20px;
}
.index #eventos .card-bodyy {
  padding: 20px;
  animation-name: cardanimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 2s;
}
@keyframes cardanimacion {
  0% {
    background-color: #FAF0E4;
    transform: none;
  }
  50% {
    background-color: #f5a684;
    transform: none;
  }
  100% {
    background-color: #FFDEDE;
    transform: none;
  }
}

.biografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area2 area2" "area1 area1 area2 area2";
}
.biografia .texto {
  grid-area: area2;
}
.biografia #carouselExample {
  width: 90%;
  height: auto;
  position: center;
  grid-area: area1;
}
.biografia #carouselExample .carousel-inner {
  width: 80%;
  height: 90%;
  position: center;
  margin: 60px;
}
.biografia #carouselExample .carousel-inner img {
  border-radius: 5%;
  width: 80%;
  height: auto;
}

.escritoss {
  color: #402f0b;
  font-family: jost-regular;
  font-style: oblique;
  padding: 25px;
  margin: 15px;
}

#music2 {
  padding: 10px 30px 10px 30px;
  border: 30px;
  margin: 30px;
  height: 350px;
  width: 400px;
  background-color: #9BCDD2;
  border-radius: 10px;
}

#creaciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: "area1 area2" "area3 area3" "area4 area4";
}
#creaciones .intro {
  grid-area: area1;
}
#creaciones #music2 {
  grid-area: area2;
}
#creaciones #escritos {
  grid-area: area3;
}
#creaciones #poemas {
  grid-area: area4;
}
#creaciones #poemas #poemario {
  display: flex;
  gap: 70px;
}

.accordion-button {
  background-color: #9BCDD2;
  color: #402f0b;
}

#collapseOne {
  background-color: #FFDEDE;
  color: #402f0b;
}

#collapseTwo {
  background-color: #FFDEDE;
  color: #402f0b;
}

#collapseThree {
  background-color: #FFDEDE;
  color: #402f0b;
}

#poema3 {
  display: flex;
}
#poema3 img {
  width: 25%;
  height: auto;
  border-radius: 8%;
  padding: 15px;
  margin: 15px;
  transition: 1s;
}
#poema3 img:hover {
  width: 30%;
  height: auto;
}

#influencias {
  display: flex;
}

#realismossucio {
  display: flex;
}

.video {
  padding: 10px;
  margin: 25px;
}

.imagenes {
  width: 300px;
  height: 350px;
  padding: 20px;
  margin: 15px;
}

#influenciasintro {
  background-color: #FFDEDE;
  border-radius: 5px;
}

#portada-uno {
  height: 350px;
  width: 250px;
  padding: 25px;
  margin: 15px;
}

#portada-dos {
  height: 350px;
  width: 250px;
  padding: 25px;
  margin: 15px;
}

#libro1, #libro2 {
  display: flex;
  gap: 15px;
  margin: 15px;
  padding: 20px;
}

.card-link {
  color: #FF8551;
  font-family: jost-regular;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.cuerpocontacto {
  color: #402f0b;
  font-family: jost-regular;
  background-color: #FAF0E4;
  text-align: justify;
  padding: 30px;
  display: flex;
}
.cuerpocontacto .contactar {
  padding: 15px;
  margin: 15px;
}
.cuerpocontacto .formulario {
  width: 100%;
  padding: 10px;
  padding-left: 10px;
  padding-right: 20px;
  border: 2px solid #FF8551;
  border-radius: 5px;
}

@media (max-width: 480px) {
  header {
    background-color: #FAF0E4;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #FF8551;
  }
  .barraNav1 {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
  }
  .barraNav {
    font-size: 10px;
    font-weight: bold;
  }
  .cuerpo {
    padding: 15px;
    font-size: 15px;
  }
  .titulo {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
  }
  .subtitulo {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width: 480px) {
  .banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  #foto-presentacion {
    width: 100px;
    height: 180px;
  }
  .card {
    width: 50px;
    padding: 5px;
  }
  #eventos {
    padding-top: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
  }
}
@keyframes cardAnimacion {
  0% {
    background-color: #FFDEDE;
    transform: none;
  }
  50% {
    background-color: #FFDEDE;
    transform: none;
  }
  100% {
    background-color: #FFDEDE;
    transform: none;
  }
}
@media (max-width: 480px) {
  #ig-fb-tw {
    height: 30px;
    width: 30px;
  }
  #redes {
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  #music2 {
    padding: 10px 20px 10px 20px;
    border: 20px;
    margin: 30px;
    height: 250px;
    width: 400px;
  }
  #creaciones {
    display: flex;
    flex-direction: column;
  }
  .escritoss {
    padding: 20px;
    font-size: 15px;
  }
  #poemario {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #poema3 {
    display: flex;
  }
  #poema3 img {
    width: 40%;
    height: 60%;
    border-radius: 8%;
    padding: 10px;
    margin: 10px;
    transition: 1s;
  }
  #poema3 img:hover {
    width: 40%;
    height: 60%;
  }
}
@media (max-width: 480px) {
  .biografia {
    display: block;
  }
  .carousel-item {
    height: 400px;
    width: 300px;
  }
  img {
    border-radius: 5%;
    width: 60%;
    height: auto;
  }
  .texto {
    display: block;
  }
}
@media (max-width: 480px) {
  .cuerpocontacto {
    padding: 15px;
    flex-direction: column;
  }
  .contactar {
    font-size: 15px;
    margin: 15px;
  }
  .formulario {
    width: 50%;
    padding: 15px;
    border: 2px solid #363062;
    border-radius: 5px;
    font-size: 10px;
    margin: 15px;
  }
}
@media (max-width: 480px) {
  .video {
    padding: 5px;
    margin: 2px;
    width: 400px;
    height: 200px;
  }
  .imagenes {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #influencias {
    display: flex;
    flex-direction: column;
  }
  #realismossucio {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .d-inline {
    width: 80px;
    height: 30px;
    padding: 15px;
    margin: 15px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  #libro1, #libro2 {
    display: block;
  }
  #libro2 {
    display: block;
  }
  #portadaindex {
    width: 100%;
  }
  .cardlibro {
    margin: 15px;
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
