
.biografia{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap:0px;
    grid-template-rows: auto;
    grid-template-areas: 
    "area1 area1 area2 area2"
    "area1 area1 area2 area2";  
    .texto{
        grid-area: area2;
    }
    #carouselExample{
        width:90%;
        height:auto;
        position:center;
        grid-area: area1;
        .carousel-inner{
            width:80%;
            height:90%;
            position:center;
            margin:60px;
            img{
                border-radius: 5%;
                width:80%;
                height: auto;
            }
        }
    
    }
    
}
