.cuerpocontacto{
    color:#402f0b;
    font-family:jost-regular;
    background-color:#FAF0E4;
    text-align:justify;
    padding:30px;
    display:flex;
    .contactar{
        padding:15px;
        margin:15px;

    }
    .formulario{
        width: 50%;
        padding:20px;
        padding-left:20px;
        padding-right:100px;
        border: 2px solid #FF8551;
        border-radius:5px;
    }
}

