.escritoss{
    @include poetry-text(#827397, jost-light-italic, oblique, 25px, 15px)
}
#music2{
    @include music (10px 30px 10px 30px,30px, 30px, 350px, 400px,#827397, 10px)
}
#creaciones{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
    grid-template-rows: auto;
    grid-template-areas: 
    "area1 area2"
    "area3 area3"
    "area4 area4";  
    .intro{
        grid-area:area1;
    
    }
    #music2{
        grid-area: area2;
    }
    #escritos{
        grid-area: area3;
        }
        #poemas{
            grid-area: area4;
            #poemario{
                display: flex;
                gap:70px;
            }
        }
}
#poema3{
    display: flex;
    img {
        width: 25%;
        height: auto;
        border-radius:8%;
        padding:15px;
        margin:15px;
        transition:1s;
      }
      img:hover{
        width: 30%;
        height: auto;
      }
}

.accordion-button{
    background-color:#9BCDD2;
    color:#402f0b;
}
#collapseOne{
    background-color: #FFDEDE;
    color: #402f0b;
}
#collapseTwo{
    background-color: #FFDEDE;
    color: #402f0b;
}
#collapseThree{
    background-color:#FFDEDE;
    color: #402f0b;
}
