.body{
    background-color:$main-color;
}
.titulo{
    @include text-tittle (#363062, jost-medium, 40px, 20px, 20px)
    
}
.subtitulo{
    @include text-subtittle(#363062, jost-regular, 24px, 20px, 20px)
}
.cuerpo{
    @include text-body(#827397, jost-light, justify, 20px, 20px)
}
.banner img{
    width:100%;
    height: 450px;
    object-fit:cover;
     }
#portada{
    font-size: 24px; 
    padding: 10px;
}
.index{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
    .presentacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:30px;
        height: 100%;
        padding:20px;
    }
    #foto-presentacion{
        width:250px;
        height:100%;
        border-radius:5%;
        transition:1s;
    }
    #foto-presentacion:hover{
        width:270px;
        height:120%;
        border-radius:5%;
    
    }
    .card-link{
        color: #FF8551;
    }
    #eventos{
        padding:20px;
    }
}
.card-bodyy{
    padding: 20px;
    animation-name: animacion;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-duration:3s;
    animation-delay:1s;

    @keyframes animacion{
        0%{
            background-color:#FAF0E4;
            transform: none;
        }
        50%{
            background-color:#f5a684;
            transform: none;
        }
        100%{
            background-color:#FFDEDE;
            transform: none;
        }
        
    }
}