.body{
    background-color:$main-color;
}
.titulo{
    @include text-tittle (#363062, jost-medium, 40px, 20px, 20px)
    
}
.subtitulo{
    @include text-subtittle(#363062, jost-regular, 24px, 20px, 20px)
}
.cuerpo{
    @include text-body(#827397, jost-light, justify, 20px, 20px)
}

.index{
    display:flex;
    gap:15px;
    .presentacion{
        display: flex;
        gap:30px;
        width:60%; 
        margin-left:auto;
        margin-right:auto;
        padding:20px;
    }
    #foto-presentacion{
        width:170px;
        height:300px;
        border-radius:5%;
        transition:1s;
    }
    #foto-presentacion:hover{
        width:240px;
        height:400px;
        border-radius:5%;
    
    }
    .card-link{
        color: #FF8551;
    }
    #eventos{
        padding:20px;
        margin:auto;
    }
}

.banner img{
    width: 100vw;
    height: 600px;
    object-fit:cover;
     }
#portada{
    font-size: 24px;
    background-color: #FFDEDE; 
    padding: 10px;
}
h1{
    text-align: center;
}