#portada-uno{
   @include imag-libros(350px, 250px, 25px, 15px)
}

#portada-dos{
    @include imag-libros(350px, 250px, 25px, 15px)
}
#libro1{
    display:flex;
    gap: 15px;
    margin:15px;
    padding:20px;
}
#libro2{
    @extend #libro1
}
.compras{
    color:#827397;
    font-family:jost-regular;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin:20px;
}