/*viñeta de listas*/
ul{list-style-type: none;
}
header{
    background-color: #E9D5DA;
    text-align:center;
    padding-top:15px;
    padding-right:20px;
    padding-bottom:5px;
    border-bottom: 1px solid #827397;
    nav ul li {
        border-bottom: 2px solid #827397;
        padding:5px;
        transition: 0.4s;
        &:hover{
            border-bottom: 2px solid #981aa3;
            padding:5px;
        }
    }
        
    }
    #menu{
        display: flex;
        justify-content: space-between;
        .barraNav{
            color:#827397;
            font-family:jost-regular;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition:0.4s;
            &:hover{
            color: #981aa3;
            font-family:jost-regular;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            }
        }
     }
 
    
    
    