/*viñeta de listas*/
ul{list-style-type: none;
}
header{
    background-color: #FAF0E4;
    text-align:center;
    padding-top:15px;
    padding-right:20px;
    padding-bottom:5px;
    border-bottom: 1px solid #FF8551;  
    .offcanvas-header{
        background-color: #FAF0E4;
    }
    .offcanvas-body{
        background-color: #FAF0E4;
    }
    .barraNav1{
        text-decoration: none;
        color: #FF8551;
        font-family:jost-regular;
        font-size: 40px;
        font-weight: bold;
        padding:5px;
        margin:5px;
    }
    h6{
        color: #FF8551;
        font-family:jost-regular;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin:15px;
        padding-left: 125px;
    }
    .barraNav{
        text-decoration: none;
        color: #FF8551;
        @include text-subtittle(#363062, jost-regular, 24px, 20px, 20px)
    }
    .barraNav:hover{
        color: #9f370b;
    }
    }

 
    
    
    