@mixin poetry-text ($color, $font, $style, $padding, $margin){
    color:#402f0b;
    font-family:jost-regular;
    font-style: oblique;
    padding:25px;
    margin:15px;
}
@mixin imag-libros ($height, $width, $padding, $margin){
    height:350px;
    width:250px;
    padding:25px;
    margin:15px;
}
@mixin text-tittle ($color, $font, $size, $padding, $margin){
    color: #FF8551;
    font-family:jost-regular;
    font-size: 40px;
    padding:20px;
    margin:20px;
}
@mixin text-subtittle ($color, $font, $size, $padding, $margin){
    color:#FF8551;
    font-family:jost-regular;
    font-size: 24px;
    padding:20px;
    margin:20px;
}
@mixin text-body ($color, $font, $align, $padding, $margin){
    color:#402f0b;
    font-family:jost-regular;
    text-align:justify;
    padding:20px;
    margin:20px;
}
@mixin music ($padding, $border, $margin, $height, $width, $bg, $border-radius){
    padding: 10px 30px 10px 30px;
    border:30px;
    margin: 30px;
    height:350px;
    width:400px;
    background-color:#9BCDD2;
    border-radius:10px;
}