/*conectar fuente de forma local*/
@font-face {
    font-family:jost-medium;
    src: url("../multimedia/fonts/Jost-Medium.ttf");
}
@font-face {
    font-family:jost-regular;
    src: url("../multimedia/fonts/Jost-Regular.ttf");
}
@font-face {
    font-family:jost-light-italic;
    src: url("../multimedia/fonts/Jost-LightItalic.ttf");
}
@font-face {
    font-family:jost-light;
    src: url("../multimedia/fonts/Jost-Light.ttf");
}
.titulo{
    color: #363062;
    font-family:jost-medium;
    font-size: 40px;
    padding:20px;
    margin:20px;
    
}
.subtitulo{
    color:#363062;
    font-family:jost-regular;
    font-size: 24px;
    padding:20px;
    margin:20px;
}
.cuerpo{
    color:#827397;
    font-family:jost-light;
    background-color:#E9D5DA;
    text-align:justify;
    padding:20px;
    margin:20px;

}