/*conectar fuente de forma local*/
@font-face {
    font-family:jost-medium;
    src: url("../multimedia/fonts/Jost-Medium.ttf");
}
@font-face {
    font-family:jost-regular;
    src: url("../multimedia/fonts/Jost-Regular.ttf");
}
@font-face {
    font-family:jost-light-italic;
    src: url("../multimedia/fonts/Jost-LightItalic.ttf");
}
@font-face {
    font-family:jost-light;
    src: url("../multimedia/fonts/Jost-Light.ttf");
}

$main-color: #E9D5DA;
$foot-color: #363062; 